ul,ol{
	padding-left: 0;
}
li{
	list-style: none;
}
/*首页*/
.orceset-nav{
	background: #fff;
	margin-bottom: 0;
}
.orceset-navbar-brand{
	padding: 10px;
}
.orceset-navbar-brand>.img-responsive{
	width: 100px;
}
.orceset-slider{
	display: none;
}
.orceset-index-footer{
	background: #343434;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	font-size: 12px;
	color: #818181;
}
.orceset-index-container{
	padding-top: 20px;
}
.orceset-swiper-container,.orceset-news-container,.orceset-product-container{
	height: 250px;
	padding:15px 0;
}
.orceset-swiper-container .swiper-pagination{
	bottom: 10px!important;
	height: 30px;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.4);
	text-align: right;
}
.orceset-swiper-container .swiper-pagination-bullet{
	height: 10px;
	width: 10px;
	background: #666;
}
.orceset-swiper-container .swiper-pagination-bullet-active{
	background: #fff;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.orceset-slider{
	height: 600px;
	background: #fff;
	padding: 0;
}
.orceset-slider img{
	height: 600px;
	width: 100%;
}
.orceset-swiper-container img{
	width: 100%;
	height: 230px;
}
.orceset-news-container{
	background-image: url(../images/index/news_title.jpg);
	padding-left: 0;
}
.orceset-product-container{
	background-image: url(../images/index/product_title.jpg);
}
.orceset-news-container,.orceset-product-container{
	background-repeat: no-repeat;
	background-position: 5px 5px;
}
.orceset-news-content,.orceset-product-content{
	position: relative;
	margin-top: 40px;
}
.orceset-news-content{
	padding-left: 20px;
	background-image: url(../images/index/news_item.jpg);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	height: 164px;
}
.orceset-news-list{
	padding-left: 5px;
	margin: 0;
}
.orceset-news-list>.news-item{
	list-style: none;
	line-height: 18px;
	height: 29px;
}
.news-item>a,.orceset-more-btn{
	color: #333;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-item>a:hover,.orceset-more-btn:hover{
	color: #00A0E9;
}
.news-time{
	float: right;
	color: #fff;
	font-size: 13px;
	background-color: #448aca;
	padding: 1px 2px;
}
.orceset-more-btn{
	position: absolute;
	font-size: 13px;
	right: 0;
	top: -30px;
}
.product-item{
	height: 80px;
	margin-bottom: 10px;
}
.product-item img{
	height: 80px;
	width: 100%;
}
.product-item{
	padding:0;
	margin-right: 10px;
}
.product-item:nth-of-type(even){
	margin-right: -10px;
}
.product-name{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30px;
	line-height: 30px;
	background: #337AB7;
	opacity: .8;
	color: #fff;
	font-size: 13px;
	text-align: center;
	width: 100%;
}
.orceset-product-container{
	padding: 15px;
}
/*工程案例*/
.breadcrumb{
	padding: 0;
	background: #fff;
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 0;
}
.breadcrumb a{
	color: #666;
}
.breadcrumb>li+li:before{
	content: '>';
	color: #666;
}
.orceset-project-container{
	background: #F5F5F5;
}
.orceset-project-bar{
	padding: 0;
	background: #fff;
	height: 40px;
	line-height: 40px;
	width: 100%;
	margin-bottom: -1px;
}
.orceset-project-bar .btn{
	height: 24px;
	line-height: 24px;
	background: #fff;
	border: solid 1px #c7c7c7;
	padding: 0 5px;
	margin-right: 8px;
	border-radius: 0;
}
.orceset-project-list,.orceset-project-bar{
	border: 1px solid #C7C7C7;
}
.orceset-project-title{
	color: #686868;
	text-indent: 2em;
	border-left: solid 3px #2b7ac6;
}

.orceset-project-item{
	padding: 10px;
}
.orceset-project-item>.media:hover{
	background: #2b7ac6;
	color: #fff!important;
}
.orceset-project-item>.media{
	padding: 10px 15px;
	background: #fff;
}
.orceset-project-item .media-body{
	padding-left: 10px;
	height: 150px;
}
.project-item-pic{
	width: 45%;
	background-repeat: no-repeat;
	background-size: cover;
}
/*产品与解决方案*/
.product-bg-bar{
	height: 80px;
	background-image: url(../images/product_service/product_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.proser-container{
	padding: 0 10px;
	position: relative;
}
.proser-container .breadcrumb{
	padding: 5px 0;
}
.proser-content h3{
	text-align: center;
}
.proser-content p{
	text-indent: 2em;
}
.proser-menu-cotainer{
	width: 150px;
	position: absolute;
	color: #666;
	left: -150px;
	top: 40px;
}
.proser-menu-btn{
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 17px;
	background: #d4d4d4;
	right: -30px;
	top: 0;
}
.proser-menu-btn p{
	margin-bottom: 0;
}
.proser-menu-btn .menu-btn-text{
	display: none;
}
.proser-menu-item{
	background: #d4d4d4;
	text-align: left;
	padding: 10px 15px;
	cursor: pointer;
}
.proser-menu-item:hover{
	background: #E8E8E8;
}
.proser-menu-item .detail-list{
	color: #fff;
	font-size: 13px;
	background: #000;
	opacity: .8;
	margin: 0 -15px;
	overflow: hidden;
	height: 0;
}
.proser-menu-item,.proser-menu-item .detail-item{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.proser-menu-item .detail-item{
	height: 30px;
	line-height: 30px;
	padding:0 15px;
	
}
.proser-menu-item .detail-item>a{
	color: #fff;
}
.proser-menu-item .detail-item>a:hover{
	color: #A0E213;
}
/*电脑端*/
@media only screen and (min-width:768px ) {
	/*首页*/
	 .orceset-nav{
		min-height: 75px;
		border: none;
	}
	.orceset-navbar{
		float: right;
	}
	.orceset-navbar-item{
		height: 75px;
	}
	.orceset-navbar-item>a{
		height: 40px;
		line-height: 40px!important;
		padding: 0 30px!important;
		margin-top: 17px;
	}
	.orceset-navbar-item>a:hover,.orceset-navbar-item.open>a{
		color: #FFF!important;
		background: #00A0E9!important;
	}
	.orceset-navbar-brand{
		margin-left: 100px!important;
	}
	.orceset-navbar-brand>.img-responsive{
		width: 150px;
	}
	.orceset-slider{
		display: block;
	}
	.orceset-index-container{
		padding-top: 0;
		height: 250px;
		position: absolute;
		top: 400px;
		left: 0;
		background: #FFF;
		z-index: 100;
	}
	.orceset-index-footer{
		padding-top: 0;
		height: 100px;
		line-height: 100px;
	}
	.orceset-news-container,.orceset-product-content{
		padding-left: 10px;
	}
	.orceset-news-container,.orceset-product-container{
		background-position: 25px 15px;
	}
	.orceset-news-content{
		background-position: 10px 2px;
	}
	/*工程案例*/
	.breadcrumb{
		padding-left: 125px;
	}
	.orceset-project-container{
		margin: 10px 120px;
	}
	.orceset-project-item img{
		max-width: 200px;
	}
	.orceset-project-bar .pull-right{
		margin-right: 80px;
	}
	/*产品与解决方案*/
	.product-bg-bar{
		height: 180px;
	}
	.proser-container{
		padding: 0 10% 0 30%;
	}
	.proser-container .breadcrumb{
		padding: 10px 0;
	}
	.proser-menu-cotainer{
		left: 150px;
		top: -50px;
		width: 200px;
	}
	.proser-menu-btn{
		left: 0;
		top: 0;
		width: 200px;
		height: auto;
		padding: 20px;
		background: #007AFF;
		color: #fff;
	}
	.proser-menu-btn .menu-btn-text{
		display: block;
	}
	.proser-menu-list{
		margin-top: 100px;
	}
	.proser-menu-item{
		min-height: 60px;
		line-height: 40px;
	}
}
